/* ----------------------------------------
base styles
---------------------------------------- */
* {
	box-sizing: border-box;
	font-size: 16px;
}

body, header {
	font-family: 'Josefin Sans', sans-serif;
}

a {
	text-decoration: none;
	color: #374056;
	text-align: center;
}

a:hover {
	text-decoration: none;
	color: #374056;
}

ul {
	list-style: none;
}

article {
	width: 60%;
	margin: 0 auto;
	padding: 50px 0;
}

.dark {
	background-color: #3ba06f;
	color: white;
}

.light {
	color: #3ba06f;
}

.wrapper {
	width: 700px;
	margin: 0 auto;
}

/* ----------------------------------------
text treatment / headings
---------------------------------------- */

h1 {
	font-family: 'Pacifico', cursive;
	font-size: 3em;
	color: #3ba06f;
}

h2 {
	font-size: 1.8em;
	margin: 0 0 10px;
	padding: 50px 0 0;

}

h3 {
	font-size: 1.5em;
	margin: -5px 0;
	letter-spacing: 1px;
}

h1, h2, h3 {
	text-align: center;
	font-family: 'Pacifico', cursive;
}

h4 {
	font-size: 1.2em;
	padding: 5px 0 0;
}

p {
	font-size: 1em;
}

/* ----------------------------------------
header
 ---------------------------------------- */

header {
	position: relative;
	background-color: #bbe2aa;
	margin: 0;
	text-align: center;
	padding: 0 0 50px;
}

#header-nav {
	padding: 10px;
}

.navbar-brand h1 {
	font-size: 2em;
	margin: 9px 0;
}

.container-fluid img {
	width: 80px;
	height: auto;
}

.nav-container {
	height: 60px;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	margin: 0;
	z-index: 100;
}

.main-nav {
	background-color: #f7f7f4;
	padding: 20px 100px;
	width: 100%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	box-shadow: 0 5px 7px rgba(0, 0, 0, 0.2);
	letter-spacing: 1.5px;
	transition: all 300ms ease-out;
}

.main-nav span {
	color: #374056;
	text-transform: uppercase;
	transition: all .3s ease-in-out;
}

.brand {
	padding: 50px 0;
}

#logo-img img {
	max-width: 200px;
	height: auto;
	margin: 0 auto;
}

/* ----------------------------------------
recipes section styling
---------------------------------------- */

#carouselOne {
	display: flex;
	justify-content: space-between;
	background-color: #3ba06f;
	color: white;
}

#make {
	position: relative;
	text-align: center;
	height: 360px;
}

#recipe {
	height: 300px;
	width: 100%;
	position: relative;
	text-align: center;
}

.carousel {
	width: 70%;
	margin: 0 auto;
	z-index: 100;
}

.smoothie-profile {
	margin: 40px 10px 50px;
	color: white;
}

a .smoothie-profile {
	width: 200px;
	height: 200px;
}

.smoothie-profile img {
	margin: 0px auto;
	height: 150px;
	width: auto;
	padding: 25px 10px 0;
}

#make .slick-prev {
    left: -25px;
    top: 110px;
}

#make .slick-next {
    right: -25px;
    top: 110px;
}

/* ----------------------------------------
info section styling
---------------------------------------- */

.info {
	color: #374056;
}

.info h2 {
	color: #3ba06f;
	margin: 0 0 30px;
}

li {
	padding: 5px 0;
	margin: 0 10px;
}

.tips-list {
	margin: 50px auto 10px;
	width: 80%;
}

.tips-list h3 {
	margin: 0 0 20px 0;
}

.tips-list h4 {
	color: #3ba06f;
}

.tips-list ul {
	display: flex;
}

#resources {
	text-align: center;
	color: white;
}

/* ----------------------------------------
'Make Your Own' page styling
---------------------------------------- */

.blender img {
	display: block;
	margin: 0 auto;
}

#numberCalories {
	margin: 20px 0;
}

#recipeList {
	display: block;
	border: dotted #bbe2aa;
	padding: 20px;
}

#recipeList h2 {
	padding: 10px 0 0 0;
}

#recipeList h4 {
	font-size: 1.5em;
	margin: 20px 0 0 0;
}

#resultMessage span {
	font-size: 1.5em;
	color: yellow;	
}

#blendBtn:disabled {
	opacity: 0.5;
	background-color: #ccc;
}

#blendBtn {
	background-color: #4CAF50;
	color: white;
	padding: 10px 20px;
	border: none;
	border-radius: 10px;
	font-family: 'Pacifico', cursive;
	font-size: 1.5em;
	display: block;
	margin: 30px auto;
}

hr {
	height: 6px;
	background: url(http://ibrahimjabbari.com/english/images/hr-12.png) repeat-x 0 0;
    border: 0;
    margin: 0;
}

/* -----------------------------------------
Drop down button styling
-------------------------------------------*/

/* Dropdown Button */
.dropbtn {
    background-color: #bbe2aa;
    font-size: 16px;
    height: 175px;
    width: 175px;
    border: none;
    cursor: pointer;
    position: relative;
    margin: 0 auto;
    outline: none;
}

.dropbtn:active {
	outline: 0 !important;
    border: none;
    box-shadow: none;
}

.dropbtn span {
	position: relative;
	top: -40px;
	color: #374056;
}

.dropbtn img {
	height: 175px;
	width: auto;
	padding: 25px;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    background-color: #3e8e41;
    outline: 0 !important;
    border: none;
    box-shadow: none;
}

/* -----------------------------------------
Drop down menu styling
-------------------------------------------*/

/* The container <div> - needed to position the dropdown content */

.dropdown {
    position: relative;
    display: inline-block;
   	margin: 40px 10px 50px;
}

.dropdown label {
	padding: 10px;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: relative;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* Links inside the dropdown */
.dropdown-content p {
    color: black;
    padding: 12px 16px;
    display: block;
    text-align: left;
    padding: 20px;
    outline: 0 !important;
    border: none;
    box-shadow: none;
}

/* Change color of dropdown links on hover */
.dropdown-content p:hover {
	background-color: #f1f1f1;
	position: relative;
	z-index: 500;
	padding: 20px;
}

.dropdown-content label {
	padding: 0 0 0 10px;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
	display: block;
	position: relative;
	z-index: 100;
}

.dcshow {
	display: block;
	position: relative;
	z-index: 100;
    outline: 0 !important;
    border: none;
    box-shadow: none;
}
/* ----------------------------------------
'Smoothie Result' styling
---------------------------------------- */

.blendStyle {
	padding: 50px;
}

.circle {
	height: 300px;
	width: 300px;
	border-radius: 50%;
	background-color: white;
	margin: 50px auto;
}

#smoothieImage {
	display: flex;
	justify-content: center;
	align-items: center;
}

#smoothieImage img {
	height: auto;
	width: 400px;
	padding: 40px;
	z-index: 10;
}

.buttons {
	display: flex;
	justify-content: center
}

.action {
	display: none;
	background-color: #4CAF50;
	color: white;
	padding: 10px 20px;
	border: none;
	border-radius: 10px;
	font-family: 'Pacifico', cursive;
	font-size: 1.5em;
	margin: 50px 10px;
}

.next {
	position: relative;
	z-index: 100;
	background-color: #4CAF50;
	color: white;
	padding: 10px 20px;
	border: none;
	border-radius: 10px;
	font-family: 'Pacifico', cursive;
	font-size: 1.5em;
	margin: 50px 10px;
}

.scrolled {
  /* PART 1: Write styles here to convert the nav into a sticky nav. */
	background-color: #f7f7f4;
	padding: 20px;
	position: relative;
	margin: 0;
	color: #374056;
	text-transform: uppercase;
	box-shadow: 0 5px 7px rgba(0, 0, 0, 0.2);
	z-index: 1000;
  	position: fixed;
  	top: 0;
  	transition: all .3s ease-in 2s;
  	width: 100%;
}


@media (max-width:768px) {
}

@media (max-width: 479px) {
  /* Header */

	#logo-img img {
		width: 150px;
		height: auto;
		margin: 0 auto;
	}

	.main-nav {
		display: block;
	}

	.main-nav span a {
		width: 70px;
		height: 30px;
		display: block;
		margin: 0 auto;
	}
/*
	.nav-container {
		position: relative;
		padding: 10px;
		margin: 0;
		width: 150px;
		box-shadow: 0 5px 7px rgba(0, 0, 0, 0.2);
		z-index: 100;
	}	
}